<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block messages %}
            {% for message in app.flashes('success') %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endblock messages %}

        {% block menu %}
            <p>
                {% if app.user %}
                    <a href="{{ url('app_logout') }}">{{ 'app.logout'|trans }}</a>
                {% else %}
                    <a href="{{ url('app_login') }}">{{ 'app.login'|trans }}</a>
                {% endif %}
            </p>
        {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
